/* Module2.css */

.module2 {
  text-align: center;
  padding: 20px;
}

.module2__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.module2__subtitle {
  font-size: 20px;
  margin-top: 20px;
}

.module2__form {
  margin: 20px auto;
  max-width: 400px;
  background-color: var(--first);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.module2__input-group {
  margin-bottom: 10px;
}

.module2__input {
  width: 90%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.module2__button {
  background-color: var(--third);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.module2__button:hover {
  background-color: var(--fourth);
}

.module2__list {
  margin-top: 40px;
}

.module2__invoice-list {
  list-style-type: none;
  padding: 0;
}

.module2__invoice-item {
  background-color: var(--first);
  border: 1px solid var(--border-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--box-shadow-color);
}
