/* Module8.css */

.module8 {
  text-align: center;
  padding: 20px;
}

.module8__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--fifth); /* Use variable for text color */
}

.module8__chart-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid var(--border-color); /* Use variable for border color */
  border-radius: 5px;
  box-shadow: 0 0 5px var(--box-shadow-color); /* Use variable for box shadow color */
}

.module8__input-container {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--first); /* Use variable for background color */
  border: 1px solid var(--border-color); /* Use variable for border color */
  border-radius: 5px;
  box-shadow: 0 0 5px var(--box-shadow-color); /* Use variable for box shadow color */
}

.module8__input-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.module8__input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color); /* Use variable for border color */
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.module8__add-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--third); /* Use variable for background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.module8__add-button:hover {
  background-color: var(
    --fourth
  ); /* Use variable for background color on hover */
}
