/* Kolory główne */
:root {
  --first: #fff;
  --second: #eee;
  --third: #ccc;
  --fourth: #a3a3a3;
  --fifth: #272727;
  --border-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* Zastosuj czcionkę "Roboto" dla całej aplikacji */
body {
  font-family: "Roboto", sans-serif;
}

/* Styl ogólny dla aplikacji */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Styl dla nagłówka aplikacji */
.App-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--first);
  color: var(--fifth);
  border-bottom: 1px solid var(--border-color); /* Dodanie borderu na dole */
  box-shadow: 0px 2px 4px var(--box-shadow-color); /* Dodanie cienia */
}

/* Styl dla głównego obszaru aplikacji */
.App-main {
  display: flex;
  flex-grow: 1;
}

/* Styl dla treści aplikacji */
.App-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: -20px;
}

/* Styl dla górnego menu */
.TopMenu {
  background-color: var(--fifth);
  color: #333; /* Kolor tekstu dostosowany do tła */
  padding: 10px;
  display: flex;
}

/* Styl dla kontenera logo */
.LogoContainer {
  display: flex;
  align-items: center;
  margin-left: 40px;
  justify-content: flex-start; /* Umieść logo po lewej stronie */
  cursor: pointer; /* Display a pointer cursor on hover */
}

/* Styl dla logo */
.Logo {
  width: 50px;
  height: 50px;
}

/* Styl dla lewego menu */
.LeftMenu {
  background-color: var(--fifth);
  width: 180px; /* Zwiększenie szerokości menu */
  padding: 10px;
  border-right: 1px solid var(--border-color); /* Oddzielenie menu borderem */
}

.LeftMenu ul {
  list-style-type: none;
  padding: 0;
}

.LeftMenu li {
  margin: 10px 0;
}

/* Styl dla linków w lewym menu */
.LeftMenu a {
  color: var(--first);
  text-decoration: none;
}

/* Styl dla linków w lewym menu po najechaniu myszką */
.LeftMenu a:hover {
  color: var(--third); /* Kolor tekstu linków po najechaniu myszką */
}

/* LeftMenu.css */
.LeftMenu .menu-item {
  display: flex;
  align-items: center;
}

.LeftMenu .menu-item svg {
  margin-right: 8px; /* Adjust the margin as needed to control the spacing between icon and text */
}

.LeftMenu .copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--first); /* Set the text color to white */
  font-size: 10px;
}

.dashboard-tiles {
  display: flex;
  flex-wrap: wrap; /* Dodanie zawijania na następny wiersz */
  justify-content: space-between;
}

.dashboard-tile {
  width: calc(
    20% - 20px
  ); /* Ustal szerokość tak, aby były 5 kafelków w rzędzie z odstępem 10px */
  background-color: var(--first);
  border: 2px solid var(--border-color);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-tile:hover {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

/* Dodaj styl dla aktualnej daty */
.CurrentDate {
  flex-grow: 1; /* Rozciągnij element na całą dostępną szerokość po lewej stronie logo */
  display: flex; /* Ustaw display na flex */
  align-items: center; /* Wyśrodkuj w pionie */
  justify-content: flex-end; /* Wyśrodkuj w poziomie (po prawej stronie) */
  padding-right: 20px; /* Dodaj odstęp z prawej strony */
  font-size: 14px; /* Ustaw rozmiar czcionki według własnych preferencji */
  color: var(--first); /* Kolor tekstu dostosowany do tła */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .App-content {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .LeftMenu {
    width: 100%; /* Full width for mobile */
    display: none; /* Hide the left menu on mobile */
  }

  .dashboard-tile {
    width: calc(50% - 20px); /* Two tiles per row on mobile */
  }
}
