:root {
  --first: #fff;
  --second: #ffc53f;
  --third: #fe3756;
  --fourth: #17a2b8;
  --fifth: #000000;
  --gray: #808080;
  --border-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--first);
  color: var(--fifth);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 4px var(--box-shadow-color);
}

.App-main {
  display: flex;
  flex-grow: 1;
  background: var(--first);
}

.App-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: -20px;
}

.TopMenu {
  background-color: var(--first);
  color: var(--fifth);
  padding: 5px;
  display: flex;
  justify-content: space-between; /* Użyj justify-content: space-between */
  align-items: center;
}

.CurrentDate,
.Location,
.Weather,
.BitcoinRate {
  font-size: 14px;
  color: black; /* Change text color to black */
  margin-left: 10px; /* Dodatkowy odstęp między elementami, jeśli jest potrzebny */
  margin-right: 10px; /* Przesunięcie na prawo */
}

.LogoContainer {
  display: flex;
  align-items: center;
  margin-left: 32px;
  justify-content: flex-start;
  cursor: pointer;
}

.Logo {
  width: 50px;
  height: 50px;
}

.LeftMenu {
  background-color: var(--first);
  width: 100px;
  padding: 10px;
}

.LeftMenu ul {
  list-style-type: none;
  padding: 0;
}

.LeftMenu li {
  margin: 10px 0;
}

.LeftMenu a {
  color: var(--first);
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Add a transition for color change */
}

.LeftMenu a:hover {
  color: var(
    --third
  ); /* Change the text color to the third variable on hover */
  background-color: transparent; /* Remove the background color change */
}

.LeftMenu .menu-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.LeftMenu .menu-item svg {
  margin-right: 8px;
}

.dashboard-title {
  color: var(--fifth);
}

.dashboard-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-tile {
  width: calc(20% - 20px);
  background-color: var(--first);
  border: 2px solid var(--gray);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dashboard-tile:hover {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.button {
  display: inline-block;
  padding: 10px 0;
  background-color: var(--first);
  color: var(--fifth);
  border: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  color: var(--gray);
}

.back_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--fifth);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.back_button:hover {
  background-color: var(--fourth);
  color: white;
}

@media (max-width: 768px) {
  .App-content {
    padding: 10px;
  }

  .LeftMenu {
    width: 100%;
    display: none;
  }

  .dashboard-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-tile {
    width: calc(80%);
    margin: 10px 0;
  }

  .back_button {
    margin-top: 20px;
  }
}
